<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.cwctravel.eclipse.plugins.tomcat"
            class="com.cwctravel.eclipse.plugins.tomcat.TomcatContextsView"
            icon="icons/tomcat-context.png"
            id="com.cwctravel.eclipse.plugins.tomcat.TomcatContextsView"
            name="Tomcat Contexts"
            restorable="true">
      </view>
      <category
            id="com.cwctravel.eclipse.plugins.tomcat"
            name="Tomcat">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.cwctravel.eclipse.plugins.tomcat.TomcatContextPropertyPage"
            id="com.cwctravel.eclipse.plugins.tomcat.TomcatContextPropertyPage"
            name="Tomcat Context Builder">
         <filter
               name="nature"
               value="com.cwctravel.eclipse.plugins.tomcat.TomcatNature">
         </filter>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.cwctravel.eclipse.plugins.tomcat.TomcatNature">
               </test>
            </adapt></enabledWhen>
         <filter
               name="nature"
               value="org.eclipse.wst.common.project.facet.core.nature">
         </filter>
      </page>
   </extension>
   <extension
         id="com.cwctravel.eclipse.plugins.tomcat.TomcatContextBuilder"
         name="Tomcat Context Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true">
         <run
               class="com.cwctravel.eclipse.plugins.tomcat.TomcatContextBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="com.cwctravel.eclipse.plugins.tomcat.TomcatNature"
         name="Tomcat Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.cwctravel.eclipse.plugins.tomcat.TomcatNature">
         </run>
      </runtime>
      <builder
            id="com.cwctravel.eclipse.plugins.tomcat.TomcatContextBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.cwctravel.eclipse.plugins.tomcat.handlers.ToggleNatureHandler"
            commandId="com.cwctravel.eclipse.plugins.tomcat.commands.toggleNatureCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <menu
               id="com.cwctravel.eclipse.plugins.tomcat.menus.tomcatMenu"
               label="Tomcat"
               mnemonic="T">
            <command
                  commandId="com.cwctravel.eclipse.plugins.tomcat.commands.toggleNatureCommand"
                  id="com.cwctravel.eclipse.plugins.tomcat.menus.toggleNatureCommand"
                  label="Add Tomcat Feature"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate>
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <not>
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="com.cwctravel.eclipse.plugins.tomcat.TomcatNature">
                              </test>
                           </not>
                        </adapt>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.cwctravel.eclipse.plugins.tomcat.commands.toggleNatureCommand"
                  label="Remove Tomcat Feature"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate>
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.cwctravel.eclipse.plugins.tomcat.TomcatNature">
                           </test>
                        </adapt>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>

</plugin>
